@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-bg: linear-gradient(180deg, #ffffff 0%, #f0f0f0 100%);

  --light-theme-gradient: linear-gradient(180deg, #ffffff 0%, #f0f0f0 100%);
  --dark-theme-gradient: linear-gradient(180deg, #1a1a1a 0%, #4d4d4d 100%);

  --primary-text-color: #1a1a1a;
}

.theme-dark {
  --theme-bg: linear-gradient(180deg, #1a1a1a 0%, #4d4d4d 100%);

  --light-theme-gradient: linear-gradient(180deg, #ffffff 0%, #f0f0f0 100%);
  --dark-theme-gradient: linear-gradient(180deg, #1a1a1a 0%, #4d4d4d 100%);

  --primary-text-color: #cbcaca;
}
